@charset "utf-8";

:root {
  /*  COLOR  */
  --run-main-green: #004d40;
  --run-main-yellow: #ffcd29;
  --run-main-white: #ffffff;
  --run-main-darkgray: #555555;
  --run-main-gray: #999999;
  --run-main-lightgray: #d9d9d9;
  --run-main-lightgray02: #eeeeee;
}
.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--run-main-green);
}
.splash img {
  animation: opacity 1s linear;
}
.splash p {
  color: var(--run-main-white);
  font-size: 1.4rem;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* onboard */
.onboard-pagination {
  position: absolute;
  left: 50% !important;
  top: 40px !important;
  transform: translateX(-50%);
  width: auto !important;
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: var(--run-main-gray);
}
.swiper-pagination-bullet-active {
  background: var(--run-main-green) !important;
}
.onboard-txt {
  margin-top: 80px;
  text-align: center;
}
.onboard-txt h2 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--run-main-green);
}
.onboard-txt p {
  font-size: 1.4rem;
  color: var(--run-main-darkgray);
}
.onboard-img {
  position: relative;
  width: 100%;
  height: 52vh;
  margin-top: 40px;
  overflow: hidden;
}

.onboard-img1 {
  position: absolute;
  width: 93%;
  left: 54%;
  transform: translateX(-50%);
}
.onboard-img2 {
  position: absolute;
  top: -140px;
  left: 50%;
  transform: translateX(-50%);
}
.onboard-img3 {
  position: absolute;
  top: -48px;
  left: 14px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 320px) {
  .onboard-img1 {
    width: 73%;
    left: 54%;
    transform: translateX(-50%);
  }
  .onboard-img2 {
    width: 420px;
    top: -120px;
  }

  .onboard-img3 {
    width: 80%;
  }
}

/* login */
.login-logo {
  margin-top: 40px;
  text-align: center;
}
.login {
  margin: 60px auto 0;
}

.login .pw-join {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
  font-size: 1.4rem;
}
.login .pw-join p {
  color: var(--run-main-lightgray);
}
.login .pw-join a {
  display: block;
}
input.login-pw {
  margin-bottom: 32px;
}

.sns-login {
  margin-top: 46px;
  font-size: 1.4rem;
  color: var(--run-main-gray);
}
.sns-login .line-box {
  display: flex;
  align-items: center;
  gap: 8px;
}
.sns-login hr {
  width: 150px;
  height: 1px;
  border: 1px solid var(--run-main-lightgray02);
}
.sns-login .sns {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
}

/* join */
.join h3 {
  margin-top: 20px;
  font-weight: 600;
  font-size: 1.8rem;
}
table {
  width: 100%;
  margin-top: 40px;
  padding: 16px 0 24px;
  border: 1px solid var(--run-main-lightgray02);
  border-radius: 10px;
  border-spacing: 0px;
}
#cbx_chkAll {
  appearance: none;
  width: 20px;
  height: 20px;
  margin-top: 6px;
  margin-right: 12px;
  background: url(../img/main/check_disable.svg) no-repeat left center;
}
#cbx_chkAll:checked {
  background: url(../img/main/check_active.svg) no-repeat left center;
}
table tr {
  display: flex;
  align-items: center;
}

table thead tr {
  padding: 0 16px 16px;
  border-bottom: 1px solid var(--run-main-lightgray02);
}
table tbody tr:first-child {
  padding: 24px 24px 0;
}
table tbody tr {
  padding: 24px 24px 0;
}

table tr td:nth-child(2) {
  margin: 0 auto 0 12px;
  color: var(--run-main-gray);
  font-size: 1.4rem;
}
table tr td:nth-child(3) {
  text-decoration: underline;
  color: var(--run-main-gray);
  font-size: 1.4rem;
}
table input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  margin-top: 4px;
  background: url(../img/main/check_disable_nobg.svg) no-repeat left center;
}
table input[type="checkbox"]:checked {
  background: url(../img/main/check_active_nobg.svg) no-repeat left center;
}
.join-form {
  margin-top: 40px;
}
.join-form legend {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 8px;
}
.br-up {
  margin: 0;
  background: url(../img/main/eye.svg) no-repeat right 12px center;
  border-radius: 10px 10px 0 0;
}
.br-bottom {
  border-top: 0;
  background: url(../img/main/eye.svg) no-repeat right 12px center;
  border-radius: 0 0 10px 10px;
}
.input-box {
  position: relative;
}
.btn-check {
  position: absolute;
  padding: 16px 12px;
  height: 50px;
  top: 0;
  right: 0;
  border-radius: 0 10px 10px 0;
  border: 1px solid var(--run-main-lightgray);
  font-size: 1.4rem;
  line-height: 0;
  color: var(--run-main-darkgray);
}
.location {
  background: url(../img/main/location.svg) no-repeat right 12px center;
}
.dimmd {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.pop-up {
  position: absolute;
  bottom: -100%;
  width: 100%;
  background: var(--run-main-white);
  padding: 24px 16px 0;
  border-radius: 20px 20px 0 0;
  transition: all 0.5s;
}
.pop-up-top-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pop-up-top-txt h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

.pop-up-search-mgt {
  margin-top: 16px;
}
.pop-up-search fieldset h4 {
  font-size: 1.6rem;
}
.pop-up-search fieldset ul {
  font-size: 1.4rem;
}
.pop-up-search fieldset:nth-child(2) {
  margin-top: 36px;
}
.pop-up-search fieldset:nth-child(2) ul {
  height: 326px;
  overflow-y: scroll;
}
.pop-up-search fieldset:nth-child(2) ul::-webkit-scrollbar {
  display: none;
}
.pop-up-search ul li {
  padding: 16px 0;
  border-bottom: 1px solid var(--run-main-lightgray02);
}
.pop-up-search ul li:hover {
  background: var(--run-main-lightgray02);
}
.pop-up-search ul li:last-child {
  border: 0;
}
.complete-join {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/main/complete-join.svg) no-repeat center/ cover;
}

.complete-join p {
  font-size: 2.6rem;
  color: var(--run-main-white);
  font-weight: 600;
  text-align: center;
}
/* main */
.title img {
  width: 73px;
  height: 25px;
}
.util ul {
  display: flex;
  gap: 16px;
}
.main-running .percent {
  position: relative;
  text-align: center;
}
.main-running .percent-main {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.percetn-txt {
  margin-bottom: 25px;
}
.percetn-txt h3 {
  font-size: 4rem;
  font-weight: 600;
}
.percetn-txt h3 + span {
  font-size: 1.6rem;
  color: var(--run-main-gray);
}
.percent-car {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
}
.percent-car h4 {
  font-size: 2rem;
  font-weight: 600;
}
.percent-car h4 + p {
  color: var(--run-main-gray);
  font-size: 1.4rem;
  font-weight: 400;
}
.main-crew-btn-box {
  display: flex;
}
.main-crew-btn-box li {
  padding: 7px 10px;
  font-size: 1.4rem;
  color: var(--run-main-gray);
  border: 1px solid var(--run-main-gray);
  border-radius: 35px;
}
.main-crew-btn-box li.active {
  color: var(--run-main-green);
  border-color: var(--run-main-green);
}
