@charset "utf-8";

:root {
  /*  COLOR  */
  --run-main-green: #004d40;
  --run-main-yellow: #ffcd29;
  --run-main-white: #ffffff;
}
#wrap {
  position: relative;
}
.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--run-main-green);
}
.splash img {
  animation: opacity 1s linear;
}
.splash p {
  color: var(--run-main-white);
  font-size: 1.4rem;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* onboard */
.onboard-pagination {
  position: absolute;
  left: 50%;
  top: 40px;
}
