@charset "utf-8";

:root {
  /*  COLOR  */
  --run-main-green: #004d40;
  --run-main-yellow: #ffcd29;
  --run-main-white: #ffffff;
  --run-main-darkgray: #555555;
  --run-main-gray: #999999;
  --run-main-lightgray: #d9d9d9;
  --run-main-lightgray02: #eeeeee;

  --run-sub-green02: #4c935c;
}

/* Global */
/* .btn {
  max-width: 375px;
  width: 100%;
  height: 50px;
  background: var(--run-main-green);
  color: var(--run-main-white);
  border-radius: 10px;
  font-size: 1.6rem;
}
.btn.under {
  position: absolute;
  max-width: 343px;
  width: calc(100% - 32px);
  left: 50%;
  bottom: 54px;
  transform: translateX(-50%);
} */

input:not(input[type="checkbox"], input[type="radio"]) {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  padding: 16px 12px;
  border: 1px solid var(--run-main-lightgray);
  border-radius: 10px;
  outline: none;
}
input::placeholder {
  color: var(--run-main-lightgray);
}

#wrap .side-padding {
  padding: 70px 16px 0;
}
.tag {
  display: inline-block;
  padding: 4px 10px;
  background: var(--run-main-white);
  font-size: 1.2rem;
  color: var(--run-main-green);
  border: 1px solid var(--run-main-green);
  border-radius: 50px;
  color: var(--run-main-green);
}
.tag span {
  font-size: 1.2rem;
  font-weight: 500;
}
.tag img {
  margin-top: 2px;
  margin-right: 2px;
  width: 12px;
  height: 12px;
}

#main {
  position: relative;
  padding: 70px 16px 60px;
}
/* splash */
.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--run-main-green);
}
.splash img {
  animation: opacity 1s linear;
}
.splash p {
  color: var(--run-main-white);
  font-size: 1.4rem;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* onboard */
.onboard-pagination {
  position: absolute;
  left: 50% !important;
  top: 40px !important;
  transform: translateX(-50%);
  width: auto !important;
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: var(--run-main-gray);
}
.swiper-pagination-bullet-active {
  background: var(--run-main-green) !important;
}
.onboard-txt {
  margin-top: 80px;
  text-align: center;
}
.onboard-txt h2 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--run-main-green);
}
.onboard-txt p {
  font-size: 1.4rem;
  color: var(--run-main-darkgray);
}
.onboard-img {
  position: relative;
  width: 100%;
  height: 52vh;
  margin-top: 40px;
  overflow: hidden;
}

.onboard-img1 {
  position: absolute;
  width: 93%;
  left: 54%;
  transform: translateX(-50%);
}
.onboard-img2 {
  position: absolute;
  top: -140px;
  left: 50%;
  transform: translateX(-50%);
}
.onboard-img3 {
  position: absolute;
  top: -48px;
  left: 14px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 320px) {
  .onboard-img1 {
    width: 73%;
    left: 54%;
    transform: translateX(-50%);
  }
  .onboard-img2 {
    width: 420px;
    top: -120px;
  }

  .onboard-img3 {
    width: 80%;
  }
}

/* login */
.login-wrap .topbar {
  box-shadow: none;
}
.login-wrap #header h1 {
  display: none;
}
.login-logo {
  margin-top: 40px;
  text-align: center;
}
.login {
  margin: 60px auto 0;
}

.login .pw-join {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
  font-size: 1.4rem;
}
.login .pw-join p {
  color: var(--run-main-lightgray);
}
.login .pw-join a {
  display: block;
}
input.login-pw {
  margin-bottom: 32px;
}

.sns-login {
  margin-top: 46px;
  font-size: 1.4rem;
  color: var(--run-main-gray);
}
.sns-login .line-box {
  display: flex;
  align-items: center;
  gap: 8px;
}
.sns-login hr {
  width: 150px;
  height: 1px;
  border: 1px solid var(--run-main-lightgray02);
}
.sns-login .sns {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
}

/* join */
.join h3 {
  margin-top: 20px;
  font-weight: 600;
  font-size: 1.8rem;
}
table {
  width: 100%;
  margin-top: 40px;
  padding: 16px 0 24px;
  border: 1px solid var(--run-main-lightgray02);
  border-radius: 10px;
  border-spacing: 0px;
}
#cbx_chkAll {
  appearance: none;
  width: 20px;
  height: 20px;
  margin-top: 6px;
  margin-right: 12px;
  background: url(../img/sub/check_disable.svg) no-repeat left center;
}
#cbx_chkAll:checked {
  background: url(../img/sub/check_active.svg) no-repeat left center;
}
table tr {
  display: flex;
  align-items: center;
}

table thead tr {
  padding: 0 16px 16px;
  border-bottom: 1px solid var(--run-main-lightgray02);
}
table tbody tr:first-child {
  padding: 24px 24px 0;
}
table tbody tr {
  padding: 24px 24px 0;
}

table tr td:nth-child(2) {
  margin: 0 auto 0 12px;
  color: var(--run-main-gray);
  font-size: 1.4rem;
}
table tr td:nth-child(3) {
  text-decoration: underline;
  color: var(--run-main-gray);
  font-size: 1.4rem;
}
table input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  margin-top: 4px;
  background: url(../img/sub/check_disable_nobg.svg) no-repeat left center;
}
table input[type="checkbox"]:checked {
  background: url(../img/sub/check_active_nobg.svg) no-repeat left center;
}
.join-form {
  margin-top: 40px;
}
.join-form legend {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 8px;
}
.br-up {
  margin: 0;
  background: url(../img/sub/eye.svg) no-repeat right 12px center;
  border-radius: 10px 10px 0 0;
}
.br-bottom {
  border-top: 0;
  background: url(../img/sub/eye.svg) no-repeat right 12px center;
  border-radius: 0 0 10px 10px;
}
.input-box {
  position: relative;
}
.btn-check {
  position: absolute;
  padding: 16px 12px;
  height: 50px;
  top: 0;
  right: 0;
  border-radius: 0 10px 10px 0;
  border: 1px solid var(--run-main-lightgray);
  font-size: 1.4rem;
  line-height: 0;
  color: var(--run-main-darkgray);
}
.location {
  background: url(../img/sub/location.svg) no-repeat right 12px center;
}
.dimmd {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  max-width: 375px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.pop-up {
  position: absolute;
  bottom: -100%;
  width: 100%;
  background: var(--run-main-white);
  padding: 24px 16px 0;
  border-radius: 20px 20px 0 0;
  transition: all 0.5s;
}
.pop-up-top-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pop-up-top-txt h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

.pop-up-search-mgt {
  margin-top: 16px;
}
.pop-up-search fieldset h4 {
  font-size: 1.6rem;
}
.pop-up-search fieldset ul {
  font-size: 1.4rem;
}
.pop-up-search fieldset:nth-child(2) {
  margin-top: 36px;
}
.pop-up-search fieldset:nth-child(2) ul {
  height: 326px;
  overflow-y: scroll;
}
.pop-up-search fieldset:nth-child(2) ul::-webkit-scrollbar {
  display: none;
}
.pop-up-search ul li {
  padding: 16px 0;
  border-bottom: 1px solid var(--run-main-lightgray02);
}
.pop-up-search ul li:hover {
  background: var(--run-main-lightgray02);
}
.pop-up-search ul li:last-child {
  border: 0;
}
.complete-join {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  max-width: 375px;
  width: 100%;
  height: 100%;
  background: url(../img/sub/complete-join.svg) no-repeat center/ cover;
}

.complete-join p {
  font-size: 2.6rem;
  color: var(--run-main-white);
  font-weight: 600;
  text-align: center;
}
.complete-join .btn_area {
  background: transparent;
}
/* main */
#wrap .home {
  padding: 70px 0 88px;
}
.title img {
  width: 73px;
  height: 25px;
}
.util ul {
  display: flex;
  gap: 16px;
}
.main-running {
  padding: 0 16px;
}
.main-running .percent {
  position: relative;
  text-align: center;
}
.main-running .percent-main {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.percetn-txt {
  margin-bottom: 25px;
}
.percetn-txt h3 {
  font-size: 4rem;
  font-weight: 600;
}
.percetn-txt h3 + span {
  font-size: 1.6rem;
  color: var(--run-main-gray);
}
.percent-car {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
}
.percent-car h4 {
  font-size: 2rem;
  font-weight: 600;
}
.percent-car h4 + p {
  color: var(--run-main-gray);
  font-size: 1.4rem;
  font-weight: 400;
}
.main-crew-btn-box {
  display: flex;
}
.main-crew {
  margin-top: 30px;
}
.main-crew-btn-box li {
  width: 81px;
  height: 35px;
  font-size: 1.4rem;
  text-align: center;
  line-height: 32px;
  color: var(--run-main-gray);
  border: 1px solid var(--run-main-gray);
  border-radius: 35px;
}
.main-crew-btn-box li.active {
  color: var(--run-main-green);
  border-color: var(--run-main-green);
}

.main-crew-list .main-crew-box {
  display: flex;
  width: 100%;
  margin-top: 12px;
  padding: 20px 16px;
  border-radius: 10px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}
.main-crew-txt {
  margin: 0 auto 0 20px;
}
.main-crew-txt h5 {
  font-size: 1.6rem;
  font-weight: 500;
}
.main-crew-txt > p {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--run-main-darkgray);
}
.main-crew-txt-under {
  margin-top: 17px;
  font-size: 1.2rem;
  color: var(--run-main-gray);
}
.main-crew-box .main-crew-d-day {
  margin-top: 59px;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--run-main-gray);
}
.main-crew-recommend-list {
  padding: 15px 0 10px;
}
.main-crew-recommend-list li {
  width: 100%;
  height: 306px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}
.mcr-img {
  position: relative;
}
.mcr-img .tag {
  position: absolute;
  top: 12px;
  left: 12px;
}

.home section {
  margin-bottom: 30px;
  padding: 0 16px;
}
.home section h4 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 18px;
}
.home section:nth-of-type(2) h4,
.home section:nth-of-type(3) h4 {
  padding-left: 16px;
}
.home section:nth-of-type(2) {
  padding: 15px 0 10px 0;
}

.home section:nth-of-type(3) {
  padding: 0;
}
.home section:nth-of-type(4) {
  padding: 15px 16px 10px 16px;
}
.home section:nth-of-type(2) > h4,
.home section:nth-of-type(3) > h4 {
  margin-bottom: 0;
}
.mcr-info {
  padding: 16px 12px;
  background: var(--run-main-white);
}
.mcr-title {
  display: flex;
}
.mcr-title > img {
  width: 40px;
  height: 40px;
}
.mcr-title-txt h5 {
  font-size: 1.4rem;
  font-weight: 600;
}
.mcr-title-txt {
  margin: 0 auto 0 12px;
}
.mcr-detail {
  margin-top: 11px;
}
.mcr-detail p {
  font-size: 1.4rem;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  color: var(--run-main-darkgray);
}

.main-event-list {
  padding: 15px 0 10px;
}
.main-event-list ul li {
  height: 254px;
  border-radius: 10px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.me-img {
  position: relative;
}
.me-img .tag {
  position: absolute;
  top: 14px;
  left: 12px;
  padding: 2px 12px;
}
.me-img .tag span {
  font-size: 1.4rem;
  font-weight: 600;
}
.me-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mm-img {
  position: relative;
}
.main-marathon {
  position: relative;
}
.main-marathon-list ul li {
  width: 342px;
  height: 342px;
  border-radius: 10px;
}
.main-marathon-list ul li:nth-child(1) {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url(../img/main/marathon01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.main-marathon-list ul li:nth-child(1) {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url(../img/main/marathon01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.main-marathon-list ul li:nth-child(2) {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url(../img/main/marathon02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.mm-txt {
  padding: 272px 16px 20px;
  color: var(--run-main-white);
}
.mm-txt h5 {
  font-size: 1.8rem;
  font-weight: 600;
}
.mm-txt p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  font-size: 1.4rem;
  font-weight: 400;
}

.marathon-pagination {
  text-align: center;
  margin-top: 4px;
}
.marathon-pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
}
.marathon-pagination .swiper-pagination-bullet-active {
  width: 15px;
  border-radius: 10px;
  transition: all 0.5s;
}
.main-challenge-list {
  padding: 24px 16px 12px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.main-challenge-list li:last-child .main-challenge-box {
  border: 0;
}
.main-challenge h4 {
  margin-bottom: 10px;
  font-size: 1.8rem;
  font-weight: 600;
}
.main-challenge h4 + p {
  font-size: 1.4rem;
  color: var(--run-main-gray);
}
.main-challenge-box {
  display: flex;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid var(--run-main-lightgray02);
}
.main-challenge-txt {
  margin: 0 auto 0 20px;
}
.main-challenge-txt h5 {
  font-size: 1.6rem;
  font-weight: 500;
}
.main-challenge-txt > p {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--run-main-darkgray);
}
.main-challenge-txt-under {
  margin-top: 17px;
  font-size: 1.2rem;
  color: var(--run-main-gray);
}
.main-challenge-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-challenge-box .main-challenge-d-day {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--run-main-gray);
}
.more-content {
  text-align: center;
  padding: 28px 0 16px;
}
.more-content p {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--run-main-darkgray);
}
.more-content .tag {
  margin-top: 13px;
  padding: 8px 16px;
  font-size: 1.4rem;
  font-weight: 500;
}

/* running */

.running #header {
  background: transparent;
}
.running .topbar {
  box-shadow: none;
}
.running {
  position: relative;
  background: url(../img/sub/running-map.jpg) no-repeat top center/cover;
}
.running #main {
  padding: 70px 0 88px;
}
.gradient-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: fixed;
  max-width: 375px;
  width: 100%;
  bottom: 0;
  padding: 125px 0 55px;
  background: linear-gradient(transparent 0%, #fff 50%);
}
.gradient-bg h2 {
  font-size: 4rem;
  font-weight: 600;
}
.running .count {
  display: flex;
  gap: 40px;
  text-align: center;
}
.running .count p {
  font-size: 2rem;
  font-weight: 600;
}
.running .count p + span {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--run-main-gray);
}
.running-btn-box .btn-shadow {
  display: inline-block;
  padding: 7px 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  font-size: 1.4rem;
  font-weight: 500;
}
.running-btn-box .btn-play {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 20px;
  line-height: 100px;
  background: var(--run-main-yellow);
  text-align: center;
  border-radius: 100%;
  font-size: 2.4rem;
  font-weight: 600;
}
.current-location {
  position: absolute;
  right: 38px;
  top: 320px;
}
.current-location-point-dot {
  width: 16px;
  height: 16px;
  background: var(--run-main-green);
  border: 2px solid var(--run-main-white);
  border-radius: 50%;
}
.current-location-point-dot::before,
.current-location-point-dot::after {
  content: "";
  position: absolute;
  top: 74%;
  left: 76%;
  transform: translate(-50%, -50%);
  background: #004d40;
  margin-left: -12px;
  margin-top: -12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  animation: wave 3.5s infinite linear;
}
.current-location-point-dot::after {
  opacity: 0;
  animation: wave 3.5s 1.5s infinite linear;
}
.current-location-point {
  position: absolute;
  top: -7px;
  left: 9px;
  width: 8px;
  height: 8px;
  background: url(../img/sub/location-point.svg) no-repeat center;
}
@keyframes wave {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(3.5);
    opacity: 0;
  }
}
.pop-up-choose {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 14px 16px 17px;
  background: var(--run-main-white);
  text-align: center;
  border-radius: 10px;
}
.pop-up-choose h2 {
  display: inline-block;
  padding: 7px 0;
  width: 187px;
  margin-bottom: 16px;
  background: var(--run-sub-green02);
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--run-main-white);
  border-radius: 50px;
}
.pop-up-choose .btn-close {
  position: absolute;
  right: 16px;
  top: 12px;
  width: 14px;
  height: 14px;
}
.pop-up-choose ul {
  display: flex;
  gap: 18px;
}
.pop-up-choose li a {
  display: block;
  width: 148px;
  padding: 16px 0;
  text-align: center;
  border: 1px solid var(--run-main-lightgray02);
  border-radius: 20px;
}

/* crew */
#main.crew {
  padding: 130px 16px 60px;
}
